a {
  color: white;
}

aside {
  width: 25%;
  height: 480px;
  background-color: blue;
  border-radius: 6px;
  float: left;
  text-align: center;
  position: relative;
}

header,
aside {
  margin: 0 1.5% 24px 1.5%;
  padding: 15px;
}

h2 {

}

h3 {
  color: white;
}

p {
	color: white;
	padding: 5px;
}

section {
  background: blue;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px  Inconsolata
  padding: 24px 14px;
  text-align: center;
}

.content-well {
	display: inline;
}

.even {
  background-color: blue;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.odd {
  background-color: grey;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.submitTweet {

}

.tweetBar {
	padding: 15px;
	position: absolute; /* this won't work for dynamic resizing -- need to work on positioning */
	top: 450px;
	left: 65px;
}

.tweet-feed {
  float: right;
  width: 70%;
  border-radius: 6px;
  margin-bottom: 5%;
}

.userTweet {

}

#restoreButton {
  visibility: hidden;
}