a {
  color: white;
  text-decoration: none;
}

aside {
  width: 20%;
  height: 480px;
  background-color: blue;
  border-radius: 6px;
  float: left;
  text-align: center;
  position: relative;
}

header,
aside {
  margin-top: 5px;
  padding: 15px;
  display: block;
}

h2 {
  font-size: 55px;
}

h2 .subscript {
  font-size: 20px;
  margin-left: 55%;
}


h3 {
  color: white;
}

p {
	color: white;
	padding: 5px;
}

.banner {
  width: 75%;
  margin-left: 12%;
  border-style: solid;
  border-radius: 0% 35% 0% 35%;
  border-color: grey;
  border-width: 2px;
  text-align: center;
  background-color: blue;
  color: white;
}

.even {
  background-color: blue;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.keywordsVisited {
  display: block;
  text-align: center;
}

.odd {
  background-color: grey;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.tweet-banner {
  position: relative;
  text-align: center;
  background-color: lightblue;
  border: solid 2px;
  border-radius: 5px;
  font-size: 25px;
}

.tweetBar {
	padding: 15px;
	position: relative; 
}


.tweet-feed {
  text-align: center;
  float: right;
  width: 70%;
  border-radius: 6px;
  margin-bottom: 5%;
  margin-top: 5px;
  font-size: 20px;
}

.tweet-well {
  display: block;
}

.usersVisited {
  display: block;
  text-align: center;
}

#restoreButton {
  visibility: hidden;
}